<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rssFeedUrl</key>
	<string>http://www.mainstreetinvestor.com/feed/</string>
	<key>rssFeedName</key>
	<string>Traders Reserve</string>
	<key>twitterUsername</key>
	<string>tradersreserve</string>
	<key>facebookUsername</key>
	<string>tradersreserve</string>
	<key>facebookProfileType</key>
	<string>Page</string>
	<key>facebookAppId</key>
	<string>396833373847814</string>
	<key>URL Types</key>
	<array>
		<dict>
			<key>URL Schemes</key>
			<array>
				<string>fb396833373847814</string>
			</array>
		</dict>
	</array>
	<key>facebookDisplayName</key>
	<string>Traders Reserve</string>
</dict>
</plist>
